<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiops_web.dao.mysql.UserMapper">

    <select id="getAllUsers" resultType="User">
        select * from user;
    </select>

    <select id="getUserById" resultType="User">
        select * from user where user_id=#{userId};
    </select>

    <select id="getUsersByIds" resultType="User">
        select *
        from user
        where user_id
        in (
        <foreach collection="ids" item="id" separator=","> #{id} </foreach>
        );
    </select>

    <insert id="createUser">
        insert into user (role_id, name, password, permit_ids)
        values (#{roleId}, #{name}, #{password}, #{permitIds});
    </insert>

    <select id="getInitPermits" resultType="String">
        select permit_ids from role_enum where role_id=#{roleId};
    </select>

    <delete id="deleteUserById" >
        delete
        from user
        where user_id = #{userId};
    </delete>

    <select id="getPassword" resultType="String">
        select password
        from user
        where user_id=#{userId};
    </select>

    <update id="updatePermissions">
        update user
        set permit_ids = #{permissions}
        where user_id = #{userId};
    </update>

    <update id="updatePassword">
        update user
        <set>
            <if test="password != null and password!= ''">
                password = #{password}
            </if>
        </set>
        where user_id=#{userId};
    </update>

    <update id="updateInfo">
        update user
        <set>
            <if test="name!=null and name!=''">
                name = #{name},
            </if>
            <if test="roleId!=null and roleId!=''">
                role_id = #{roleId},
            </if>
            <if test="permitIds!=null and permitIds!=''">
                permit_ids = #{permitIds},
            </if>
        </set>
        where user_id=#{userId};
    </update>
</mapper>
