<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiops_web.dao.mysql.WorkflowExecMapper">

<!-- 查询某一个执行步骤 -->
    <select id="selectOneExecStep" resultType="com.aiops_web.dto.ExecStepDTO">
        SELECT we.*, sc.type_id, sc.step_num, sc.param, sc.alg_id, sc.wf_id
        FROM workflow_exec we, step_config sc
        WHERE we.step_id = sc.step_id AND sc.wf_id = #{wfId} AND sc.step_num = #{stepNum}
    </select>

<!-- 根据输出数据类型查一个执行步骤-->
    <select id="selectOneExecStepByOutType" resultType="com.aiops_web.dto.ExecStepDTO">
        SELECT we.*, sc.type_id, sc.step_num, sc.param, sc.alg_id, sc.wf_id
        FROM workflow_exec we, step_config sc
        WHERE we.step_id = sc.step_id AND sc.wf_id = #{wfId} AND we.output_type_id = #{execTypeId}
    </select>

    <select id="selectExecStepByWf" resultType="com.aiops_web.dto.ExecStepDTO">
        SELECT we.*, sc.type_id, sc.step_num, sc.param, sc.alg_id, sc.wf_id
        FROM workflow_exec we, step_config sc
        WHERE we.step_id = sc.step_id AND sc.wf_id = #{wfId}
    </select>

    <select id="selectExecByWf" resultType="com.aiops_web.entity.mysql.WorkflowExec">
        SELECT we.*
        FROM workflow_exec we, step_config sc
        WHERE we.step_id = sc.step_id AND sc.wf_id = #{wfId}
    </select>

</mapper>
